* {
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
.menu{
    /* position:sticky; */
    /* top:0px; */
    /* left:0px; */
    /* z-index: 10; */
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: rgb(27, 27, 27);
    color: rgb(236, 236, 236);
}
.menu li{
    border-bottom: 2px solid transparent;
}
.menu li:hover{
    content: '';
    /* width: 100%; */
    border-bottom: 2px solid yellow;
}
.screen{
    position: relative;
    border: 1px solid yellow;
    height: calc(100vh - 1rem - 4px - 4rem);
    /* width: 50%; */
    overflow: scroll;
    background-color: rgb(46, 46, 46);
}
.planet{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    /* transform-origin: -0px; */
    transition: top linear 100ms, left linear 100ms;
}